<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="teaching.system.backend.mapper.WenxiangMapper">

    <resultMap id="BaseResultMap" type="teaching.system.backend.domain.po.Wenxiang">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="studentAccount" column="student_account" jdbcType="VARCHAR"/>
        <result property="experimentTitle" column="experiment_title" jdbcType="VARCHAR"/>
        <result property="username" column="username" jdbcType="VARCHAR"/>
        <result property="experimentContent" column="experiment_content" jdbcType="VARCHAR"/>
        <result property="experimentRemarks" column="experiment_Remarks" jdbcType="VARCHAR"/>
        <result property="code" column="code" jdbcType="VARCHAR"/>
        <result property="rightcode" column="rightcode" jdbcType="VARCHAR"/>
        <result property="status" column="status" jdbcType="VARCHAR"/>
        <result property="deadline" column="deadline" jdbcType="VARCHAR"/>
        <result property="submissiontime" column="submissionTime" jdbcType="VARCHAR"/>
        <result property="codereview" column="codeReview" jdbcType="VARCHAR"/>
        <result property="goal" column="goal" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="isDeleted" column="is_deleted" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,student_account,experiment_title,
        username,experiment_content,experiment_Remarks,
        code,rightcode,status,
        deadline,submissionTime,codeReview,
        goal,create_time,update_time,
        is_deleted
    </sql>
</mapper>
